<!-- Card -->
<div class="card promoting-card">

    <!-- Card content -->
    <div class="card-body d-flex flex-row">

        <!-- Avatar -->
        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" class="rounded-circle mr-3" height="50px" width="50px" alt="avatar">

        <!-- Content -->
        <div>

            <!-- Title -->
            <h4 class="card-title font-weight-bold mb-2">Rodrigo piton</h4>
            <!-- Subtitle -->
            <p class="card-text"><i class="far fa-clock pr-2"></i>07/24/2018</p>

        </div>

    </div>

    <!-- Card content -->
    <div class="card-body">

        <div class="collapse-content">

            <!-- Text -->
            <p>Pasajero 1</p>
            <p>Pasajero 2</p>
            <p>Pasajero 3</p>
            <p>Pasajero 4</p>

        </div>

    </div>

</div>
<!-- Card -->

<div class="card promoting-card">

    <!-- Card content -->
    <div class="card-body d-flex flex-row">

        <!-- Avatar -->
        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" class="rounded-circle mr-3" height="50px" width="50px" alt="avatar">

        <!-- Content -->
        <div>

            <!-- Title -->
            <h4 class="card-title font-weight-bold mb-2">Rodrigo piton</h4>
            <!-- Subtitle -->
            <p class="card-text"><i class="far fa-clock pr-2"></i>07/24/2018</p>

        </div>

    </div>

    <!-- Card content -->
    <div class="card-body">

        <div class="collapse-content">

            <!-- Text -->
            <p>Pasajero 1</p>
            <p>Pasajero 2</p>
            <p>Pasajero 3</p>
            <p>Pasajero 4</p>

        </div>

    </div>

</div>
<!-- Card -->

<div class="card promoting-card">

    <!-- Card content -->
    <div class="card-body d-flex flex-row">

        <!-- Avatar -->
        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" class="rounded-circle mr-3" height="50px" width="50px" alt="avatar">

        <!-- Content -->
        <div>

            <!-- Title -->
            <h4 class="card-title font-weight-bold mb-2">Rodrigo piton</h4>
            <!-- Subtitle -->
            <p class="card-text"><i class="far fa-clock pr-2"></i>07/24/2018</p>

        </div>

    </div>


    <!-- Card content -->
    <div class="card-body">

        <div class="collapse-content">

            <!-- Text -->
            <p>Pasajero 1</p>
            <p>Pasajero 2</p>
            <p>Pasajero 3</p>
            <p>Pasajero 4</p>

        </div>

    </div>

</div>
<!-- Card -->