<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<div class="card text-center">
    <div class="card-header">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" class="rounded-circle mr-3" height="50px" width="50px" alt="avatar"> Viaje
    </div>
    <div class="card-body">
        <!-- Text -->
        <div class="pasajeros">
            <div class="pasajero">
                <p>Pasajero 1</p>
                <div class="icono">
                    <i class="fas fa-male"></i>
                </div>

            </div>
            <div class="pasajero">
                <p>Pasajero 1</p>
                <div class="icono">
                    <i class="fas fa-male"></i>
                </div>
            </div>
            <div class="pasajero">
                <p>Pasajero 1</p>
                <div class="icono">
                    <i class="fas fa-male"></i>
                </div>
            </div>
            <div class="pasajero">
                <p>Pasajero 1</p>
                <div class="icono">
                    <i class="fas fa-male"></i>
                </div>
            </div>
        </div>

        <a href="#" class="btn btn-primary">Reserva</a>
    </div>
    <div class="card-footer text-muted">
        2 days ago
    </div>
</div>

<div class="card text-center">
    <div class="card-header">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" class="rounded-circle mr-3" height="50px" width="50px" alt="avatar"> Viaje
    </div>
    <div class="card-body">
        <!-- Text -->
        <div class="pasajeros">
            <div class="pasajero">
                <p>Pasajero 1</p>
                <div class="icono">
                    <i class="fas fa-male"></i>
                </div>

            </div>
            <div class="pasajero">
                <p>Pasajero 1</p>
                <div class="icono">
                    <i class="fas fa-male"></i>
                </div>
            </div>
            <div class="pasajero">
                <p>Pasajero 1</p>
                <div class="icono">
                    <i class="fas fa-male"></i>
                </div>
            </div>
            <div class="pasajero">
                <p>Pasajero 1</p>
                <div class="icono">
                    <i class="fas fa-male"></i>
                </div>
            </div>
        </div>

        <a href="#" class="btn btn-primary">Reserva</a>
    </div>
    <div class="card-footer text-muted">
        2 days ago
    </div>
</div>

<div class="card text-center">
    <div class="card-header">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" class="rounded-circle mr-3" height="50px" width="50px" alt="avatar"> Viaje
    </div>
    <div class="card-body">
        <!-- Text -->
        <div class="pasajeros">

            <div class="pasajero">
                <p>Pasajero 1</p>
                <div class="icono">
                    <i class="fas fa-male"></i>
                </div>

            </div>
            <div class="pasajero">
                <p>Pasajero 1</p>
                <div class="icono">
                    <i class="fas fa-male"></i>
                </div>
            </div>
            <div class="pasajero">
                <p>Pasajero 1</p>
                <div class="icono">
                    <i class="fas fa-male"></i>
                </div>
            </div>
            <div class="pasajero">
                <p>Pasajero 1</p>
                <div class="icono">
                    <i class="fas fa-male"></i>
                </div>
            </div>

        </div>

        <a href="#" class="btn btn-primary">Reserva</a>
    </div>
    <div class="card-footer text-muted">
        2 days ago
    </div>
</div>