<div class="container">
    <div class="card text-center">
        <div class="card-header">
            <div class="imagen-conductor">
                <h2>Conductor</h2>
                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" class="rounded-circle mr-3" height="50px" width="50px" alt="avatar">
            </div>
            <div class="datos-viaje">
                <h2>Viaje</h2>
                <p>Direccion Salida: </p>
                <p>Hora: </p>
                <p>Direccion Destino: </p>
            </div>

        </div>
        <div class="card-body">
            <!-- Text -->
            <div class="pasajeros">
                <div class="pasajero">
                    <div>
                        <p>Pasajero</p>
                    </div>
                    <div class="icono">
                        <i class="fas fa-male"></i>
                    </div>

                </div>
                <div class="pasajero">
                    <div>
                        <p>Pasajero 2</p>
                    </div>
                    <div class="icono">
                        <i class="fas fa-male"></i>
                    </div>

                </div>
                <div class="pasajero">
                    <div>
                        <p>Pasajero 3</p>
                    </div>
                    <div class="icono">
                        <i class="fas fa-male"></i>
                    </div>

                </div>
                <div class="pasajero">
                    <div>
                        <p>Pasajero 4</p>
                    </div>
                    <div class="icono">
                        <i class="fas fa-male"></i>
                    </div>

                </div>
            </div>

            <a href="#" class="btn btn-primary">Reserva</a>
        </div>
        <div class="card-footer text-muted">
            2 days ago
        </div>
    </div>
</div>