<div class="container">
    <div class="logo">
        <img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" class="rounded-circle" />
    </div>
    <div class="login">
        <h3 class="text-center text-primary title">
            Login
        </h3>
        <button type="button" class="btn btn-primary btn-lg btn-block active">
            Facebook
        </button>
        <button type="button" class="btn btn-secondary btn-lg btn-block">
            Google
        </button>
    </div>
</div>